.users-table {
    border-width: 0;
    border-collapse: collapse;
    width: 100%;
}

.users-table th {
    background-color: #922;
    color: #fff;
}

.users-table tr, td{
    border-width: 0;
    
}

tr:nth-child(even) {
    background-color: #ddd;
}